name: Deploy to production

on:
  push:
    tags:
      - "*"

env:
  BALENA_CLI_VERSION: 14.3.1
  BALENA_FLEET: bdi/starter-interface
  GCR_IMAGE_NAME: balena-labs-research/bsi

jobs:
  deploy-to-bcr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Update balena.yml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: "balena.yml"
          propertyPath: "version"
          value: ${{ github.ref_name }}
          commitChange: false
          updateFile: true

      - name: Push to BCR
        uses: balena-labs-research/community-cli-action@1.0.0
        with:
          balena_token: ${{secrets.BALENA_TOKEN}}
          balena_cli_commands: >
            push ${{ env.BALENA_FLEET }};
          balena_cli_version: ${{ env.BALENA_CLI_VERSION }}

  preload:
    needs: [deploy-to-bcr]
    timeout-minutes: 60
    strategy:
      fail-fast: true
      matrix:
        job_name:
          [
            "cm4-dev",
            "rpi-3-dev",
            "rpi-4-dev",
            "rpi-zero-2-dev",
            "cm4-prod",
            "rpi-3-prod",
            "rpi-4-prod",
            "rpi-zero-2-prod",
          ]

        include:
          - job_name: cm4-dev
            device: raspberrypicm4-ioboard
            version: "latest"
            filename: balena-Starter-Interface-rpi-cm4-dev
            developmentMode: true

          - job_name: rpi-3-dev
            device: raspberrypi3-64
            version: "latest"
            filename: balena-Starter-Interface-rpi3-64-dev
            developmentMode: true

          - job_name: rpi-4-dev
            device: raspberrypi4-64
            version: "latest"
            filename: balena-Starter-Interface-rpi4-64-dev
            developmentMode: true

          - job_name: rpi-zero-2-dev
            device: raspberrypi0-2w-64
            version: "latest"
            filename: balena-Starter-Interface-rpi-zero-2-dev
            developmentMode: true

          - job_name: cm4-prod
            device: raspberrypicm4-ioboard
            version: "latest"
            filename: balena-Starter-Interface-rpi-cm4-prod
            developmentMode: false

          - job_name: rpi-3-prod
            device: raspberrypi3-64
            version: "latest"
            filename: balena-Starter-Interface-rpi3-64-prod
            developmentMode: false

          - job_name: rpi-4-prod
            device: raspberrypi4-64
            version: "latest"
            filename: balena-Starter-Interface-rpi4-64-prod
            developmentMode: false

          - job_name: rpi-zero-2-prod
            device: raspberrypi0-2w-64
            version: "latest"
            filename: balena-Starter-Interface-rpi-zero-2-prod
            developmentMode: false

    name: preload-${{ matrix.job_name }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download image
        shell: bash
        run: |
          wget -q -O ./${{ matrix.filename }}.zip \
          'https://api.balena-cloud.com/download?deviceType=${{ matrix.device }}&version=${{ matrix.version }}&developmentMode=${{ matrix.developmentMode }}&fileType=.zip' && \
          unzip ${{ matrix.filename }}.zip && \
          mv *.img ${{ matrix.filename }}.img

      - name: Preload image
        uses: balena-labs-research/community-cli-action@1.0.0
        with:
          balena_token: ${{secrets.BALENA_TOKEN}}
          balena_cli_commands: >
            preload ${{ matrix.filename }}.img --fleet ${{ env.BALENA_FLEET }} --commit latest;
          balena_cli_version: ${{ env.BALENA_CLI_VERSION }}

      - name: Compress
        shell: bash
        run: |
          tar -czf ${{ matrix.filename }}.tar.gz ./${{ matrix.filename }}.img

      - name: Upload file
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: ${{ matrix.filename }}.tar.gz

  deploy-to-gcr:
    needs: [deploy-to-bcr, preload]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ env.GCR_IMAGE_NAME }}
          flavor: |
            latest=true
          tags: |
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  create-release:
    needs: [deploy-to-bcr, deploy-to-gcr, preload]
    runs-on: ubuntu-latest
    steps:
      - name: Download all workflow artifacts
        uses: actions/download-artifact@v3

      - name: Create production changeLog and release
        uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            artifacts/*
